.card {
    color: inherit;
    text-decoration: none;

    transition: transform 0.1s ease-out;
}

.card:hover {
    transform: translateY(-10px);
}

.image {
    border-radius: 24px
}

.title {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
    margin-top: 4px;
}

.location {
    font-size: 14px;
    font-weight: 300;
    color: #979797;
}