.button {
    display: flex;
    align-items: center;
    gap: 8px;
    
    
    border-radius: 12px;
    border: none;

    font-size: 18px;

    max-width: fit-content;

    transition: all ease-out 0.3s;
}

.main {
    background-color: #7B61FF;
    color: #fff;
}

.main:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #F6F4FF;
    color: #7B61FF;
}

.secondary {
    background-color: #F6F4FF;
    color: #7B61FF;
}

.secondary:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #7B61FF;
    color: #fff;
}

.small {
    padding: 12px 18px;
}

.medium {
    padding: 18px 24px;
}

.large {
    padding: 22px 30px;
}

.right {
    flex-direction: row-reverse;
}