.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    color: inherit;
    text-decoration: none;

    transition: transform 0.1s ease-out;
}

.card:hover {
    transform: translateY(-10px);
}

.image {
    border-radius: 24px;
    width: 290px;
    height: auto;
}

.title {
    font-size: 16px;
    font-weight: 500;

    letter-spacing: 1;
}