.form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;

    border-radius: 12px;

    max-width: 1280px; 
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    align-items: center;
    background-color: #fff;

    padding: 12px;
    border-radius: 12px;



    gap: 16px;

    margin-left: 16px;
}

.input {
    border: 0;
    outline: 0;

    font-size: 16px;
    font-weight: 400;
    color: #000;


    padding: 3px 0;
}

.input::placeholder {
    color: #000;
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}

.input:focus::placeholder {
    opacity: 0;
    transform: translateX(-20px); /* Эффект «уплывания» */
}


.label {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 200;

    color: #979797;

    min-width: fit-content;


}

.transparent {
    background-color: transparent;
}

.fill {
    background-color: #fff;
}


@media (max-width: 1200px) {
    .form {
        flex-direction: column;
        width: calc(100% - 80px);

        gap: 12px;

    }

    .label {
        width: 100%;
    }

    .inputContainer {
        width: 100%;
    }
}