.burgerButton {
    position: relative;

    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    
    width: 48px;
    height: 48px;

    cursor: pointer;
}

.lines {
    width: 100%;
    height: 3px;
    background-color: white; /* Цвет полосок */
    border-radius: 2px;
    position: absolute; /* Чтобы управлять им и его братьями */
    left: 0;
}

.lines::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  top: -17px;
  left: 0;
}

.lines::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  bottom: -17px;
  left: 0;
}

.linesOpen {
  background-color: transparent;
  transform: rotate(45deg);
}

.linesOpen::before {
  top: 0; 
  transform: rotate(90deg);
  background-color: white;
}

.linesOpen::after {
  top: 0; 
  background-color: white;
}




@media (max-width: 1200px) {
    .burgerButton {
        display: block;
    }
}