.card {
    display: grid;
    flex: 1;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;

    color: inherit;
    text-decoration: none;

    transition: transform 0.1s ease-out;
}

.card:hover {
    transform: translateY(-10px);
}

.image {
    grid-row: span 3 / span 3;
    margin-right: 20px;

    border-radius: 24px;

    width: 290px;
    height: auto;
}

.title {
    grid-column: span 3 / span 3;

    font-size: 24px;
    font-weight: 600;

    padding: 5px 0;
}

.description {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;

    font-size: 16px;
    font-weight: 300;

    color: #979797;
}

.info {
    grid-column: 2 / -1; /* Занимает все текстовые колонки */
    grid-row: 3;

    display: flex;
    align-items: center;
    gap: 30px;

    margin-top: auto;
    padding: 5px 0;
}

.date, .author, .comments {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    
    white-space: nowrap;

    font-size: 12px;
    font-weight: 300;
    color: #979797;
}

.date {
    grid-column-start: 2;
    grid-row-start: 3;
}

.author {
    grid-column-start: 3;
    grid-row-start: 3;
}

.comments {
    grid-column-start: 4;
    grid-row-start: 3;
}